.add-skill-form {
    position: relative;
}

.add-skill-form label {
    display: none;
}

.add-skill-form button {
    margin: 10px 0;
}

.add-skill-form .close-button {
    position: absolute;

    right: -17px;
    cursor: pointer;
}

.add-skill-form .close-button svg {
    width: 20px;
    height: 20px;
}